/* 
Color Palette
Pokeball-Red, Dark: #E85344
Pokeball-Red, Light: #EB6D60
Background: #f5f7f9
*/

/* 
Type out all elements that needs styling
header h1 nav ul li a
main
section .bulbasaur #grass
section .charmander #fire
section .squirtle #water
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100vmax;
}


header {
  height: 20vh;
  width: 100%;
  display: flex;
  background-image: url(./ImagesPokemon/PokedexPattern.png);
  background-size: 50svh;
  background-position: 4% 2%;
  background-color: #f5f7f9;
}

h1 {
  margin-top: 7vh;
  text-shadow: 1px 1px darkslategrey;
}

nav {
  display: flex;
  align-items: flex-end;
  margin-bottom: 2%;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  width: 60svw;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
  background-color: #E85344;
  padding: 6px;
  border-radius: 8px;
  color: white;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  background-color: seagreen;
  color: linen;
  border: 2px solid mediumseagreen;
  padding: 30px;
  margin: 30px auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Base-styling for all sections */
section {
  display: flex;
  flex-direction: row;
  width: 80svw;
  justify-content: space-around;
  margin: 50px auto;
}

article {
  padding: 20px;
  border: 3px dashed white;
  border-radius: 10px;
  margin: 5px;
  /* Working on a diagonal split-color-option */
  /* background: repeating-linear-gradient(
    45deg,
    var(--type1-color),
    var(--type1-color) 20px,
    var(--type2-color) 20px,
    var(--type2-color) 40px
  ); */
}

img {
  height: 150px;
}

p {
  font-size: 20px;
  font-weight: 500;
  background-color: rgba(250, 240, 230, 0.5);
  padding: 2px 3px 3px 2px;
  border-radius: 5px;
}

footer {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

#pokedexImg {
  height: 50%;
  margin: auto 5svw;
}

.container{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 15px 20px;
}

.container div {
  padding: 10px;
  border-radius: 6px;
  text-align: center;
}

/* Styling for individual Pokemons */

/* Template for copy-paste:
.type {
  background-color: ;
  border-color: ;
} */

/* Border-color will come.
It will be a slightly darker hue than the background for each */

.fire {
  background-color: #FD7D24;
  border-color: ;
}

.water {
  background-color: #4592C4;
  border-color: ;
}

.poison {
  background-color: #B97FC9;
  border-color: ;
}

.bug {
  background-color: #729F3F;
  border-color: ;
}

.normal {
  background-color: #A4ACAF;
  border-color: ;
}

.flying {
  background-color: #3DC7EF; #BDB9B8;
  border-color: ;
}

.electric {
  background-color: #EED535;
  border-color: ;
}

.ground {
  background-color: #F7DE3F; #AB9842
  border-color: ;
}
.fairy {
  background-color: #FDB9E9;
  border-color: ;
}

.fighting {
  background-color: #D56723;
  border-color: ;
}

.psychic {
  background-color: #F366B9;
  border-color: ;
}

.rock {
  background-color: #A38C21;
  border-color: ;
}

.ice {
  background-color: #51C4E7;
  border-color: ;
}

.ghost {
  background-color: #7B62A3;
  border-color: ;
}

.dragon {
  background-color: #53A4CF; #F16E57
  border-color: ;
}

.grass {
  background-color: #9BCC50;
  border-color: ;
}
